.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  height: 50px;
  width: 300px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#nextQuestion { 
  width: 200px;
}

.name-label{
  font-size: 28px;
}

.name-input{
  height: 50px;
  padding: .1rem 1rem;
  font-size: 18px;
  width: 300px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.question-promp{
  font-size: 20px;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h3 {
  color: white;
}